alias pkgupdate="sudo apt update && sudo apt upgrade -y && echo '' && echo 'Running Watchtower Container Update ...' && docker run --rm -v /var/run/docker.sock:/var/run/docker.sock containrrr/watchtower --run-once --cleanup"

docker() {
  if [[ "$1" == "ps" && $# -eq 1 ]]; then
    header=$(command docker ps | head -n 1)
    body=$(command docker ps | tail -n +2 | sort)
    echo "$header"
    echo "$body"
  else
    command docker "$@"
  fi
}