- name: Install qemu-guest-agent
  ansible.builtin.apt:
    name: qemu-guest-agent
    state: present
    update_cache: true
  become: true
  when: ansible_facts['system_vendor'] == 'QEMU'
  tags:
    - qemu_guest_agent
    - packages
