docker() {
  if [[ "$1" == "ps" && $# -eq 1 ]]; then
    header=$(command docker ps | head -n 1)
    body=$(command docker ps | tail -n +2 | sort)
    echo "$header"
    echo "$body"
  else
    command docker "$@"
  fi
}

git() {
  if [[ "$1" == "pull" && $# -eq 1 ]]; then
    default_branch=$(git remote show origin | awk '/HEAD branch/ {print $NF}')
    git pull origin $default_branch --rebase && git push --force
  else
    command git "$@"
  fi
}

alias pkgupdate="sudo apt update && sudo apt upgrade -y && echo '' && echo 'Running Watchtower Container Update ...' && docker run --rm -v /var/run/docker.sock:/var/run/docker.sock containrrr/watchtower --run-once --cleanup"
