# command to use:
# uv run ansible-playbook playbooks/ubuntu.yml
# dry run command:
# uv run ansible-playbook playbooks/ubuntu.yml --check --diff

- name: Initialize Ubuntu Servers
  hosts: ubuntu
  become: true
  gather_facts: true
  roles:
    - update
    - timezone
    - ssh
    - hardening
    - sudoers
    - nano
    - disable_ipv6
    - disable_swap
    - unattended_upgrades
    - qemu_guest_agent
    - alias
    - docker