name: CI
on:
  workflow_dispatch:

  push:
    branches:
      - main
    tags:
      - '*'

  pull_request:
    branches: ["main", "stable", "release/v*"]
    paths:
      - '**.yml'
      - '**.ini'
      - '**.j2'
      - '**.lock'

  schedule:
    - cron: '30 6 * * *'

permissions:
  pull-requests: write
  contents: write
  security-events: write

jobs:
  lint:
    if: ${{ github.repository == 'calvin-li-developer/ansible' && github.event_name != 'schedule' }}
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          
      - name: Run ansible-lint
        uses: ansible/ansible-lint@a9f8a4e21be85461fdc3d0f492a89e365bf4fd72 # v26.1.0
        with:
          args: "--profile production"

  trivy-scan:
    if: ${{ github.repository == 'calvin-li-developer/ansible' }}
    name: Trivy Scan
    permissions:
      contents: read
      actions: read
      security-events: write
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        env:
          TRIVY_DB_REPOSITORY: docker.io/aquasec/trivy-db:2,public.ecr.aws/aquasecurity/trivy-db:2,ghcr.io/aquasecurity/trivy-db:2
          TRIVY_JAVA_DB_REPOSITORY: docker.io/aquasec/trivy-java-db:1,public.ecr.aws/aquasecurity/trivy-java-db:1,ghcr.io/aquasecurity/trivy-java-db:1
        with:
          scan-type: repo
          ignore-unfixed: true
          format: sarif
          output: trivy-results.sarif
          severity: CRITICAL,HIGH

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        with:
          sarif_file: 'trivy-results.sarif'

  merge:
    needs: [lint, trivy-scan]
    name: Merge PR
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    if: ${{ 
            github.repository == 'calvin-li-developer/ansible' &&
            github.event_name == 'pull_request' &&
            ( 
              github.event.pull_request.user.login == github.repository_owner ||
              github.event.pull_request.user.login == 'dependabot[bot]'
            ) 
        }}
    steps:
      - name: Merge PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr merge ${{ github.event.pull_request.number }} --auto --squash --repo ${{ github.repository }}
